<!--
    Title: contact.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 09/05/2023
    Description: Contact Page for the In-N-Out-Books app created with Angular.
-->
<h1 class="brown align-center" style="font-weight: 600;"> Contact Us</h1>

<div fxLayout="row wrap">
  <div fxFlex>
      <mat-card class="mat-elevation-z0">
          <mat-card-title class="yellow" style="font-size: 22px; text-align: center;">
            Visit us at our local site
            <br /><br/>
              <mat-icon color="accent">navigation</mat-icon>
          </mat-card-title>
          <br />

          <mat-card-content class="align-center">
              <p>
                  100 Diagon Alley
              </p>
              <p>
                  London, United Kingdom
              </p>
          </mat-card-content>
      </mat-card>
  </div>

  <div fxFlex>
     <mat-card class="mat-elevation-z0">
      <mat-card-title class="yellow" style="font-size: 22px; text-align: center;">
              Not nearby? Call us.
              <br /><br />
        <mat-icon color="accent">phone</mat-icon>
      </mat-card-title>
      <br />

      <mat-card-content class="align-center">
          <p>
              Direct: 020 3777 7777
          </p>
          <p>
              Fax: +44 161 777 7777
          </p>
      </mat-card-content>
     </mat-card>
  </div>
</div>

<br />
<br />
<br />
<br />

<div fxLayout="column">
  <p style="text-align: center">
    Feel free to contact us by phone or visit us if you're in the London area.
  </p>
</div>
