/**
    Title: contact.component.scss
    Author: Professor Richard Krasso
    Modified by:Hannah Del Real
    Date: 09/27/23
    Description: SCSS styling for the contact page of the  Loan App
*/

.page-title {
  font-weight: 600;
   font-size: 40px;
   text-align: center;
   padding-bottom: 30px;
}
