<!--
    Title: about.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 09/27/2023
    Description: About Page for the Loan App created with Angular.
-->
<h1 class="brown page-title">About Us</h1>

<hr style="width: 60%; text-align: center;" /><br />

<div fxLayout="row wrap" class="about-container" >

      <div fxFlex>
        <div fxLayout="column">
          <div >
            <img src="./assets/about-profile.jpg" style="padding-right: 50px; margin-top: 20px; max-width: 425px;"/>
          </div>
        </div>
      </div>

      <div fxFlex>
        <h2 class="yellow" style="font-size: 20px;">Overview</h2>
        <p>
          Welcome the Huffle Bank’s Loan App! If you are here, you’re probably considering taking out a loan.
          We understand that this process can feel scary even for best and brightest wizards and witches.
          You may feel overwhelmed when you don’t understand how much payments are going to be or how interest rates will affect how much you will actually owe. With our loan calculator app, we are here to help make the borrowing process a little more seamless. We will help you estimate how much your monthly payments will be and how much total interest you will have to pay over the course of your loan.
          All you have to do is provide us with key ingredients in your loan and with a little mathematical magic from our calculator, we’ll help you uncover a world of possibilities. Whether you are considering your finances to attend a certain special school or settling down in maybe Godric’s Hollows, we are here to help understand your options through every life event, great or small.
        </p>
        <p>
          While there are many options out there, we hope that you will put your faith in us.
          At Huffle Bank, we strive to embody the qualities of a tried-and-true Hufflepuff.
            We guarantee you that honesty, trust, loyalty, and fairness are our top priorities.
            We value transparency and will only provide you with the facts of your loan details so that you can feel well-informed.
          You don’t need a sorting hat to tell you with a loan that best fits you. Let us help! We’re the good kind of badgers, we promise!
        </p>
      </div>
</div>
