/**
    Title: style.scss
    Author: Professor Richard Krasso
    Modified by:Hannah Del Real
    Date: 09/27/23
    Description: SCSS styling for Loan App
*/

@import './theme';

html, body {
  height: 100%;
}

body {
   margin: 0;
   font-family: Roboto,"Helvetica Neue", sans-serif;
}

.yellow {
  color: #fff01c
}

.brown {
  color: #DED1BE;
}

.mat-icon {
  font-size: 60px;
}

.align-center {
  text-align: center;
}

.black {
  background-color: black;
}

.white {
  color: white;
}
