/**
    Title: home.component.scss
    Author: Professor Richard Krasso
    Modified by:Hannah Del Real
    Date: 09/27/23
    Description: SCSS styling for home component in the Loan App
*/

.details {
  color: white;
   font-size: 48px;
}

.loan-summary {
  padding: 20px;
}
