/**
    Title: home.component.scss
    Author: Professor Richard Krasso
    Modified by:Hannah Del Real
    Date: 09/27/23
    Description: SCSS styling for home component in the Loan App
*/

.details {
  color: white;
   font-size: 48px;
}

.loan-summary {
  padding: 20px;
}

.msg-error {
  margin: 10px, 0;
  padding: 12px;
  padding-bottom: 20px;
  color: #dc000b;
  background-color: #ffcec7;
  border-radius: 5px;
}

.error-text-align {
  position: absolute;
   margin-top: 5px;
   margin-left: 5px;

}
