<!--
    Title: not-found.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 09/29/2023
    Description: 404 Error Page for Loan App.
-->

<div fxLayout="column">

  <mat-card fxFlex style="width: 50%; margin-left: 18%;" class="mat-elevation-z0">
    <mat-card-title fxLayoutAlign="center" style="padding-left: 30%;">
      <!-- Display  404 error image -->
      <img src="./assets/not-found.png" />
    </mat-card-title>
    <br />
    <mat-card-content style="text-align: center; padding-left: 30%;">

      <!--Button to return to home page -->
      <button mat-raised-button color="accent" routerLink="/">Return home</button>

    </mat-card-content>
  </mat-card>

</div>
