/**
    Title: app.component.scss
    Author: Professor Richard Krasso
    Modified by:Hannah Del Real
    Date: 09/27/23
    Description: SCSS styling for main container and navigation bar in the Loan App
*/

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
}

.logo {
  padding: 10px;
  margin-top: 20px;
}

.mat-button:hover {
  background-color: black;
  color: #DED1BE;
}

