<!--
    Title: app.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 09/27/2023
    Description: Landing Page for the Loan app created with Angular.
-->

<mat-toolbar class="toolbar" color="primary">

  <mat-toolbar-row>
    <div class="logo">
      <img src="./assets/logo.png" height="60" />
    </div>

    <div style="width: 80%">
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/home">Home</button>
        <button mat-button routerLink="/contact">Contact</button>
        <button mat-button routerLink="/about">About</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="main-container">
      <mat-card-title class="yellow">
        {{ assignment }}
      </mat-card-title>
      <br />
      <br />

      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
